body { 
    background-color: rgb(142, 204, 50);
    background-image: url("../images/minecraft.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

h1 {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

h2 {
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    border: 10px double white;
    width: 600px;
    height: 600px;
    background-color: rgb(7, 77, 7);
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.game {
    text-align: center;
    color: rgb(233, 233, 24);
    font-size: 30px;
}